@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-text {
    &::before {
        content: "";
        height: 1px;
        width: 204px;
        border: 1px dashed #6D61CF;
        position: absolute;
        top: 428px;
        left: 0;
        animation-name: show;
        animation-duration: 1s;
        animation-delay: .8s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    
    &::after {
        content: "";
        width: 1px;
        height: 338px;
        border: 1px dashed #6D61CF;
        position: absolute;
        top: 0;
        left: 417px;
        animation-name: show;
        animation-duration: 1s;
        animation-delay: .8s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
}

@keyframes show {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}